@model Web.Models.Flim

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlmFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlmFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlmStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlmStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlmCat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlmCat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlmMat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlmMat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlmIsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlmIsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NtcSnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NtcSnNavigation.NtcInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlmSn">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
